@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #A6CFD5;
  --secondary-color: #F59CA9;
  --accent1-color: #8B5FBF;
  --accent2-color: #643A71;
  --headline-color-on-white: #000000;  
  --headline-color-on-color: #F59CA9;
  --paragraph-color-on-white: #000000; 
  --paragraph-color-on-color: #FFFFFF; 
  --text-background-color: #A6CFD5;
  --nav-link-color: #F59CA9;
  --nav-background-color: #643A71;
  --nav-hover-link-color: #643A71;
  --nav-hover-background-color: #8B5FBF;
      --heading-font: "Noto Sans JP";
  --paragraph-font: Lato, Helvetica, sans-serif;
}


    html {
        background-color: var(--primary-color);
    }

    body {
        max-width: 900px;
        margin: 0 auto;
        background-color: white;
        padding: 1em
    }

    img {
        max-width: 100%
    }

    header {
        background-color: var(--accent2-color);
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    p {
        color: #000000;
    }

    h1 {
        font-size:2em;
      text-shadow: 2px 2px #A6CFD5;
        color: #F59CA9;
        padding-right: .3em;
    }

    h2 {
        color: #8B5FBF;
        ;

    }

    header,
    main,
    footer {
        max-width: 960px;
        margin: 0 auto;
    }


    nav {
        background-color: var(--nav-background-color);
        line-height: 3em;
        text-align: center;
        font-size: 1.2em;
    }

    ul {
        list-style-type: none;
        display: inherit;

    }

    .banner {
        width: 900px;
        height: auto;

    }

    li {}

    .Logo-icon {
        padding-right: 1em;


    }

    nav a {
        color: 
            var(--paragraph-color-on-color);
        padding-left: .5em;
        padding-right: .5em;

    }
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

    .navigation {
        display: inherit;
    }


.image1 .image2 {width:inherit;
    
}
